body {
	background: #F0F0F0;
}

.btn-designbosco {
    background-color: #4AC816;
    color: white;
	font-size: 18px;
	font-weight: bold;
	width: 100%;
}

.btn-designbosco:hover {
    background-color: #46ad1b;
    color: white;
}

#reglog .bg-white {
	border: 1px solid #ced4da;
	border-radius: .25rem;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}

#reglog .reglogform img {
	width: 100%;
}

#reglog .reglogform h2 {
	font-size: 25px;
	font-weight: bold;
}
